body {
  font-family: Courier New;
  margin: 0;
}

#title {
  text-transform: uppercase;
  font-family: courier;
  text-align: center;
  letter-spacing: 1rem;
}

h2 {
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: darkgrey;
  padding: 1rem;
}

a {
  color: #333;
}

li {
  margin-bottom: 0.5rem;
}

nav a {
  color: white;
  font-weight: bold;
}

main {
  padding: 0 1rem;
}

section#welcome {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#ide {
  display: flex;
}

#ide > *{
  flex: 1;
  border: solid 1px gray;
}

.CodeMirror {
  font-size: 1.2rem;
  border: 1px solid #eee;
  height: auto;
}

.console {
  background-color: #eee;
}

.review {
  display: flex;
}
.review > * {
  flex: 1;
}
.review-container {
  border: solid 1px gray;
}

.comments {
  height: 100px;
}
#feedback-grid {
  display: flex;
}
#feedback-grid > *{
  padding: 0.5rem;
  flex: 1;
  border-left: solid 3px grey;
}

#feedback-grid > div:nth-child(2){
  background-color: #eee;
}
#feedback-grid h3 {
  text-align: center;
}

#admin-dashboard {
  display: flex;
}

#admin-dashboard ul{
  list-style-type: none;
}

#admin-dashboard > * {
  flex: 1;
}

#admin-dashboard .cohort-card{
  border: solid 1px gray;
  padding: 1rem;
}


.error {
  color: tomato;
}

.scaffold {
}

.test {
  display: flex;
}
.test > *{
  flex: 1;
}

pre {
  background-color: gainsboro;
  padding: 0.5rem;
}
